* {
  font-family: 'PT Sans Caption', sans-serif;
}

body {
  margin: 0px;
}

a {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

h3 {
  font-size: 50px;
}

h4 {
  display: flex;
  justify-content: center; 
  font-size: 50px;
}

h5 {
  margin: 35px 0;
  display: flex;
  justify-content: center; 
  font-size: 35px;
}

/* Main Header */

#main-header {
  z-index: 10;
  background-color: rgba(223, 219, 219, 0.85);
  position: fixed;
  padding: 0 2%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
}

#main-header img {
  height: 40px;
}

.logo {
  height: 40px;
  padding: 3px 0;
}

.nav-menu a, .nav-menu-ru a {
  padding: 11.8px 3vw;
  font-weight: bold;
}

.prod-categ {
  transform: translate(0, 10px);
  background-color: rgba(223, 219, 219, 0.5);
  display: none;
  left: 29%;
  flex-direction: column;
  position: absolute;
}

.cart {
  position: relative;
  display: flex;
  align-items: center;
  padding: 8px 2vw;
}

.total-prod-amount {
  position: absolute;
  background-color: crimson;
  border-radius: 20px;
  color: white;
  padding: 0 5px;
  margin: 0;
  top: 0;
  right: 0vw;
  font-size: 20px;
}

.shop-cart {
  /* background-color: rgba(163, 229, 219, 0.9); */
  background-color: rgba(240, 248, 255, 0.9);
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 60vw;
  height: 100%;
  top: 46px;
  right: 0;
  transform: translateX(70vw);
}

.close {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.close img {
  padding: 5px 20px 0 0;
}

.clear-cart {
  margin: 10px 0 0 10px;
}

.clear-cart, .comand-prods {
  border-radius: 20px;
  font-size: 25px;
}

.clear-cart:hover, .comand-prods:hover {
  filter: invert(20%);
}

.product-list {
  width: 100%;
  height: 70%;
  overflow-y: scroll;
}

.cart-prod {
  position: relative;
  width: 100%;
  margin: 5px 0;
  display: flex;
  align-items: center;
}

#main-header .cart-prod .prod-img {
  width: 30%;
  height: 90%;
  border-radius: 10%;
  margin: 0 10px;
}

.cart-prod h5 {
  font-size: 30px;
  margin: 10px 0;
  justify-content: start;
}

.prod-info, .prod-calc {
  display: flex;
  width: 30%;
  height: 100%;
}

.prod-info {
  flex-direction: column;
}

.prod-info div {
  display: flex;
}

.prod-calc {
  align-items: center;
}

.remove {
  position: absolute;
  right: 2vw;
}

.remove:hover, .close img:hover {
  filter: invert(75%);
}

.cart-price {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  font-size: 30px;
  padding-left: 5%;
}

.cart-price p {
  margin: 15px 0;
}

.comand-prods {
  background-color: rgb(0, 161, 0);
  padding: 10px 0;
  color: white;
  width: 45%;
  margin-left: 10%;
}

.comand-bg {
  z-index: 5;
  top: 0;
  background-color: rgba(0, 0, 0, 60%);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.comand-block {
  z-index: 6;
  position: relative;
  background-color: rgb(244, 255, 240);
  border-radius: 20px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

.remove-comand-img {
  position: absolute;
  height: 40px;
  top: 10%;
  right: 5%;
  cursor: pointer;
  border-radius: 20px;
}

.remove-comand-img:hover {
  filter: invert(50%);
}

.comand-block h4 {
  justify-content: flex-start;
  margin: 20px 0;
}

.comand-block p {
  font-size: 25px;
}

.comand-block a {
  color: black;
  text-decoration: underline;
}

.comand-block a:hover {
  color: gray;
}

#main-header .cart img {
  height: 30px;
}

.phone-btn {
  display: none;
  height: 40px;
  padding: 3px 13.5vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.phone-menu {
  background-color: rgba(223, 219, 219, 0.9);
  filter: invert(75%);
  z-index: 10;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 46px;
  display: none;
  flex-direction: column;
  align-items: center;
  font-size: 25px;
}

.phone-menu a {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 3vh 0;
}

.languages {
  padding: 0 3vw;
  display: flex;
}

.languages a {
  padding: 11.8px 0.5vw;
}

.phone-menu .languages {
  width: 100%;
  justify-content: center;
  padding: 5vh 0;
}

.nav-menu a:hover, .nav-menu-ru a:hover, .languages a:hover, .phone-btn:hover,
.phone-menu a:hover, .phone-menu a:active, .cart:hover {
  background-color: rgba(248, 244, 244, 50%);
  filter: invert(75%);
}

.cart:hover .total-prod-amount {
  filter: invert(1);
}

.cur-page {
  font-weight: bold;
  text-decoration: underline;
}

.show {
  display: flex;
  animation: 0.5s forwards rightToLeft;
}
/* Main Header */

/* Side Nav Bar */

#side-nav-bar {
  z-index: 10;
  background-color: rgba(248, 244, 244, 50%);
  position: fixed;
  left: 0px;
  width: 40px;
  height: 100vh;
  padding: 0 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#side-nav-bar div {
  /* background-color: rgba(248, 244, 244, 50%);
  border: 5px solid rgba(248, 244, 244, 50%); */
  border-radius: 10px;
  padding: 1vh 0;
  margin: 5px 0;
}

#side-nav-bar img {
  width: 100%;
}

#side-nav-bar img:hover {
  filter: invert(75%);
}

/* Side Nav Bar */

#main-page {
  display: flex;
  background: no-repeat center/100% url(../gallery/m4.jpg);
}

#main-page div {
  z-index: 5;
  padding: 0 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 50%);
  color: lightgray;
}

#main-page div p {
  font-size: 25px;
}

#main-page img {
  position: absolute;
  width: 70%;
}

#product-page, #info-page, #contact-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-page {
  flex-wrap: wrap;
}

#product-page .product {
  background-color: rgba(248, 244, 244, 50%);
  width: 20%;
  padding: 5px;
  margin: 2%;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 0px 20px gray;
  cursor: pointer;
}

#product-page .product img {
  border-radius: 20px;
}

#product-page .prod-title {
  font-size: 16px;
  margin: 5px 0 0 0;
}

#product-page p {
  color: green;
  margin: 10px 0 10px 0;
  display: flex;
  justify-content: center;
  font-size: 20px;
}

#product-page a {
  margin-top: 40px;
  color: black;
  font-size: 30px;
}

#product-page a:hover {
  color: gray;
  text-decoration: underline;
}

.prod-bg {
  z-index: 5;
  top: 0;
  background-color: rgba(0, 0, 0, 60%);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-item, .remove-full-img-item, .remove-comand-block {
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
}

.prod-item {
  position: relative;
  z-index: 5;
  background-color: aliceblue;
  border-radius: 20px;
  width: 85%;
  height: 80%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
}

.prod-item h4 {
  margin: 45px 0;
}

.prod-item h5 {
  justify-content: flex-start;
  margin: 5px 0;
}

.remove-item-img {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  top: 4%;
  right: 6%;
}

.remove-item-img img {
  height: 40px;
}

.product-info {
  width: 90%;
  padding: 2%;
  display: flex;
}

.product-info img {
  width: 60%;
  border-radius: 20px;
}

.base-info {
  width: 50%;
  padding: 0 2%;
}

#product-page .base-info p {
  font-size: 20px;
  justify-content: flex-start;
}

.buy-product {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-product .calc-block {
  background-color: white;
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plus, .minus,.cart-plus, .cart-minus {
  background-color: white;
  display: flex;
  justify-content: center;
  border: none;
  border-radius: 20px;
  width: 30px;
  padding: 0 20px;
  text-align: center;
  /* border-radius: 50%; */
  font-size: 30px;
  cursor: pointer;
}

.plus:hover, .minus:hover, .cart-plus:hover, .cart-minus:hover {
  background-color: lightgrey;
}

#product-page .amount, #product-page .base-info .amount, .amount, .cart-amount {
  color: black;
  margin: 0 5px;
  font-size: 30px;
}

.buy-product .total-price-block {
  display: flex;
  justify-content: center;
  align-items: center;
}

#product-page .total-price-block p {
  font-size: 23px;
}

.add-to-cart {
  background-color: white;
  width: 85%;
  padding: 10px 0;
  margin-bottom: 10px;
  border: 2px solid green;
  border-radius: 20px;
  font-size: 25px;
  cursor: pointer;
}

.add-to-cart:hover {
  animation: 0.2s forwards hoverAddCart;
}

.gallery {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.gallery div {
  background: center/120% no-repeat;
  border-radius: 20px;
  width: 30%;
  height: 220px;
  margin: 0 2% 10px 0; 
}

.full-img-bg {
  z-index: 6;
  top: 0;
  background-color: rgba(0, 0, 0, 60%);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-img-block {
  position: relative;
  display: flex;
  align-items: center;
  z-index: 7;
  width: 30%;
}

.remove-full-img {
  position: absolute;
  height: 40px;
  filter: invert(50%);
  top: 10%;
  right: 5%;
  cursor: pointer;
  border-radius: 20px;
}

.remove-full-img:hover {
  filter: invert(1);
}

.go-prev {
  left: 0;
}

.go-next {
  right: 0;
}

.go-prev, .go-next {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 75%;
  cursor: pointer;
}

.go-prev:hover, .go-next:hover {
  background: rgba(255, 255, 255, 50%);
}

.full-img {
  width: 100%;
  border-radius: 20px;
}

/* .image-block img {
  width: 100%;
} */

#info-page {
  flex-direction: column;
}

#info-page p{
  padding: 0 6%;
  font-size: 20px;
  text-align: justify;
}

#info-page div {
  display: flex;
  justify-content: center;
}

#info-page img {
  width: 100%;
}

#contact-page {
  flex-wrap: wrap;
  margin: 0 0 50px 0;
}

.contact-list, .contact-data, .map, .contact-form {
  width: 45%;
}

.contact-list, .contact-data {
  list-style-type: none;
  padding: 0;
  margin: 5px 10px;
}

.contact-list li, .contact-data li {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px 0;
  font-size: 20px;
}

.contact-list li {
  font-weight: bold;
  font-size: 30px;
}

.contact-data img {
  height: 20px;
}

.contact-data a {
  text-decoration: underline;
}

.contact-form {
  display: flex;
  flex-direction: column;
}

.map {
  height: 400px;
  margin: 20px 10px 10px 10px;
}

.contact-form h3 {
  font-size: 30px;
}

.contact-form input, .contact-form textarea {
  width: 100%;
  padding: 10px 6px;
  margin: 10px 0;
  font-size: 25px;
}

.disclaimer {
  display: flex;
  background-color: lightgray;
  padding: 10px 5px;
}

.disclaimer p {
  font-size: 10px;
  margin: 0;
}

@media (max-height: 550px) {
  .product-list {
    height: 60%;
  }
}
@media (max-height: 500px) {
  .product-list {
    height: 50%;
  }
}

@media (max-width: 1050px) {
  .nav-menu a {
    padding: 11.8px 2.5vw;
  }
  .nav-menu-ru a {
    padding: 12px 1.5vw;
  }
  .shop-cart {
    width: 70vw;
  }
  .prod-info, .prod-calc {
    width: 40%;
  }
  .comand-prods {
    margin-left: 5%;
  }
  #main-page {
    background: no-repeat center/150% url(../gallery/m5.jpg);
  }
  .product-info img {
    width: 50%;
  }
  #product-page .product {
    width: 40%;
  }
  .gallery div {
    background: center/160% no-repeat;
  }
  .full-img-block {
    width: 45%;
  }
  @media (min-height: 1000px) {
    #main-page {
      background: no-repeat center/200% url(../gallery/m5.jpg);
    }
    #main-page img {
      width: 70%;
    }
  }
}


@media (max-width: 800px) {
  #side-nav-bar {
    display: none;
  }
  h3 {
    font-size: 40px;
  }
  #main-header {
   padding: 0; 
  }
  .logo, .cart {
    padding: 3px 13.5vw;
  }
  #main-header .cart img {
    height: 40px;
  }
  .total-prod-amount {
    right: 11vw;
  }
  #main-header .cart-prod .prod-img {
    margin: 0 5px;
  }
  .shop-cart {
    display: none;
    transform: none;
    background-color: rgba(223, 219, 219, 0.9);
    width: 100vw;
  }
  .show {
    display: flex;
    animation: none;
  }
  .remove {
    top: 10px;
  }
  .logo:hover {
    background-color: rgba(248, 244, 244, 50%);
    filter: invert(75%);
  }
  .nav-menu, .nav-menu-ru {
    display: none;
  }
  .phone-btn {
    display: flex;
  }
  #main-header .phone-btn img {
    height: 35px;
  }
  #main-header .languages {
    display: none;
  }
  #main-header .phone-menu .languages {
    display: flex;
  }
  #main-page {
    background: no-repeat center/210% url(../gallery/an1.jpg);
    width: 100%;
    height: 70vh;
  }
  #main-page div {
    height: 100%;
  }
  #main-page div p {
    font-size: 20px;
  }  
  #main-page img {
    width: 90%;
  }
  #product-page .product {
    width: 80%;
  }
  .product-info {
    width: 90%;
    flex-direction: column;
  }
  .remove-item-img {
    right: 2%;
  }
  .product-info img {
    width: 95%;
  }
  .base-info {
    width: 100%;
  }
  .add-to-cart {
    width: 90%;
  }
  .plus, .minus, .cart-plus, .cart-minus {
    padding: 0 50px;
  }
  .gallery div {
    width: 45%;
  }
  .full-img-block {
    width: 60%;
  }
  .contact-list, .contact-data, .contact-form {
    width: 100%;
    padding: 10px 0 10px 10px;
  }
  .map {
    width: 95%;
    padding: 0;
    margin: 15px 0;
  }
  .contact-list li {
    font-size: 25px;
  }
  .contact-data li {
    font-size: 20px;
  }
  .contact-data img {
    height: 15px;
  }
  .contact-form {
    align-items: center;
  }
  .contact-form input, .contact-form textarea {
    width: 95%;
    padding: 10px 0;
    padding-left: 5px;
    margin: 10px 0;
    font-size: 30px;
  }
  @media (max-height: 550px) {
    .product-list {
      height: 60%;
    }
  }
  @media (max-height: 500px) {
    .product-list {
      height: 50%;
    }
  }
}

@media (max-width: 650px) {
  .logo, .cart, .phone-btn {
    padding: 3px 12.5vw;
  }
  .total-prod-amount {
    right: 9.5vw;
  }
}

@media (max-width: 550px) {
  h3 {
    font-size: 30px;
  }
  h4 {
    margin: 40px 0;
  }
  .logo, .cart, .phone-btn {
    padding: 3px 11vw;
  }
  .product-list {
    height: 60%;
  }
  .total-prod-amount {
    right: 6.5vw;
  }
  .comand-prods {
    width: 90%;
    margin-left: 0;
  }
  .close img {
    padding: 10px 10px 0 0;
  }
  .cart-prod {
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 5px dashed gray;
  }
  .cart-prod h5 {
    font-size: 25px;
  }
  #main-header .cart-prod .prod-img {
    width: 50%;
  }
  #main-header .close img {
    height: 35px;
  }
  #main-header .remove {
    height: 35px;
  }
  .remove {
    top: auto;
  }
  #main-page {
    background: no-repeat center/210% url(../gallery/m5.jpg);
  }
  #main-page div {
    padding: 0 3%;
  }
  #main-page div p {
    font-size: 20px;
  }
  #main-page img {
    width: 80%;
  }
  .prod-info {
    font-size: 25px;
  }
  .prod-calc {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
    font-size: 25px;
  }
  .prod-calc .minus, .prod-calc .plus {
    width: 20%;
  }
  #product-page .product {
    margin: 5% 0;
  }
  .product-info {
    padding: 2% 0 2% 2%;
  }
  .remove-item-img img {
    height: 35px;
  }
  .gallery div {
    width: 90%;
    margin: 5px 0;
  }
  .full-img-block {
    width: 85%;
  }
  @media (max-height: 550px) {
    .product-list {
      height: 50%;
    }
  }
  @media (max-height: 500px) {
    .product-list {
      height: 35%;
    }
  }
}

@keyframes hoverAddCart {
  from {
    background-color: white;
    border: 2px solid green;
    color: black;
  }
  to {
    background-color: green;
    border: 2px solid transparent;
    color: white;
  }
}

@keyframes rightToLeft {
  from {
    transform: translateX(70vw);
  }
  to {
    transform: translateX(0);
  }
}
